/*Credits to subtlepatterns.com for the background*/

.reg {
	background-image: url("images/doodles.png");
	color: white;
	font-family: 'Roboto';
}

.main {
	background-image: url("images/doodles.png");
	font-family: 'Roboto';
	color: #001C3A;
}

.agenda {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
}

.bold {
	font-weight: bold;
}

.yah-logo {
	width: 40%;
}

#regform {
	border: 5px black;
}

.formSections {
	background-color: white;
}

.registerButton {
	text-align: center;
}

/*Topics*/
.item {
	height: 100px;
	border:1px solid rgb(30, 136, 230);
	background-color: transparent;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}

.item:hover {
	-ms-transform: scale(1.1,1.1); /* IE 9 */
	-webkit-transform: scale(1.1,1.1); /* Safari */
	transform: scale(1.1,1.1);
	-webkit-box-shadow: 5px 5px 61px 0px rgb(30, 136, 230);
	-moz-box-shadow: 5px 5px 61px 0px rgb(30, 136, 230);
	box-shadow: 5px 5px 61px 0px rgb(30, 136, 230);
	background-color: #fff;
}

.item h5 {
	color: #1E88E5;
	line-height: 75px;
	text-align: center;
}

.item:hover h5{
	color: #001C3A;
}

/*Color scheme for FAQ on mobile*/
.visible-mobile {
	display: none !important;
}
.not-visible-mobile {
	display: inline !important;
}

@media screen and (max-width: 600px){
	.visible-mobile {
		display: inline !important;
	}
	.not-visible-mobile {
		display: none !important;
	}
}

/*Colors*/
.lightBlue {
	background-color: #1E88E5;
}

.darkBlue {
	background-color: #001C3A;
}

@media screen and (max-width: 600px){
	.colorSwap-DarkBlue {
		background-color: #001C3A;
	}

	.colorSwap-LightBlue {
		background-color: #1E88E5;
	}
}

/*Fonts*/

@font-face
{
	font-family: GoodDog;
	src: url('fonts/GoodDog.otf');
}

.defaultFont {
	font-family: 'Roboto';
}

.goodDog {
	font-family: 'GoodDog';
	color: #0D4E85;
}

/*Navbar*/
.brand-logo {
	font-weight: bold;
}

.nav-special-effect:hover {
	background-color: #1976D2;
	color: white !important;
	text-decoration: underline;
	border-radius: 25%;
}

#navbar {
	box-shadow: none;
	background-color: #fff;
}

/*Text CSS*/

.intro {
	padding: 1.5em;
}

.home-text {
	padding: 0 2rem;
}

.title {
	font-size: 10em;
}

.email-id {
	color: #1976D2;
	font-size: 1.5em;
}

.phone-number {
	color: #135099;
	font-size: 1.5em;
}

.location a{
	color: #0D4E85 !important;
}

.italic {
	font-style: italic;
}

/*Body*/

body {
	background: white;
}

/*Images*/
.multi-shadow {
	border: 1px solid black;
	border-radius: 10%;
}

.acmLogo {
	width: 20%;
}

/*Registration Page*/
.input-field input:focus {
	border-bottom: 1px solid #1976D2 !important;
	box-shadow: 0 1px 0 0 #1976D2 !important;
}

.input-field input:focus + label {
	color: #1976D2 !important;
}

.input-field .prefix {
	width: auto;
	font-size: 2.5rem;
}

.background-icon {
	background: #000;
	text-align: center;
	padding: 2px;
	border-radius: 5px;
}

/*Mobile*/
@media screen and (max-width: 720px){
	.title {
		font-size: 9em;
	}
}

@media screen and (max-width: 640px){
	.title {
		font-size: 8em;
	}
}

@media screen and (max-width: 580px){
	nav .brand-logo {
		font-size: 1.3em;
	}
	.title {
		font-size: 7em;
	}
	.acmLogo {
		width: 50%;
	}
	.yah-logo {
		width: 60%;
	}
}

@media screen and (max-width: 480px){
	.title {
		font-size: 5em;
	}
	.acmLogo {
		width: 50%;
	}
	.yah-logo {
		width: 80%;
	}
}

@media screen and (max-width: 360px){
	.title {
		font-size: 3.5em;
	}
}
